@font-face {
    font-family: "HelveticaNeueCyrBlack";
    src : url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf");
 }
@font-face {
    font-family: "HelveticaNeueCyrBlackItalic";
    src : url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.ttf");
    }
@font-face {
    font-family: "HelveticaNeueCyrBold";
    src : url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf");
    }

